.twbs{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
}

.twbs .nav-foxselect{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.twbs .nav-foxselect span{
  margin-left: 12px;
}
.twbs .nav-foxselect span:first-child{
  margin-left: 0;
}
.twbs .meta-foxselect{
  background-color: #eee;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  margin: 10px 0;
  padding: 4px 8px;
}
.twbs .meta-foxselect .btn-sm{
  font-size: 11px;
  padding: 2px 6px;
}
.twbs .meta-foxselect code{
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
}
.twbs .meta-foxselect code,
.twbs .meta-foxselect code a{
  color: #666;
}
.twbs .col-frequency{
  padding-right: 4px;
}

@media screen and (max-width: 991px){
  .twbs .PartSelector .col-xl-4,
  .twbs .additional-options-form .col-lg-2{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .twbs .nav-foxselect{
    justify-content: center;
  }
  .twbs h1.title{
    text-align: center;
  }
  .twbs h1.title img{
    max-width: 50%;
    margin: 0 auto;
  }
  .twbs .col-frequency{
    padding-right: 15px;
  }
}

.twbs .btn{
  margin: 0 2px;
}
.twbs .btn:first-child{
  margin-left: 0;
}
.twbs .btn:last-child{
  margin-right: 0;
}
.twbs .btn-primary{
  background-color: #0d649b;
  border-color: #0d649b;
}
.twbs .btn-primary:hover{
  background-color: #fff;
  color: #0d649b;
}
.twbs .cart-item-options .btn-sm{
  padding: .1rem .25rem;
  font-size: .7rem;
}
.twbs p > code{
  background-color: #eee;
  padding: 2px 4px;
  color: #666;
  border-radius: 3px;
}
.twbs label{
  font-size: 13px;
  cursor: pointer;
}
.twbs div[class^=col-] label:only-child{
  display: block;
}
.twbs .form-row{
  margin-bottom: 10px;
}
.twbs .size-options{
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 20px;
}

/* Tables */
.twbs tbody th[scope="row"]{
  text-align: left;
}

/* Select states */
.twbs .empty .Select-control{
  background-color: #eee;
}
.twbs .error .Select-control{
  background-color: #f7b3af;
}
.twbs .Select.error.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.twbs .Select.error.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{
  color: #666;
}

/* React Password Strength */
.ReactPasswordStrength .ReactPasswordStrength-strength-desc{
  top: -4px;
}

/* Titles */
.twbs h1.section-title{
  margin-bottom: 2rem;
}
.twbs h3.section-title{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

/* Part Options in Cart */
.twbs .cart-part{
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 16px 8px;
}
.twbs .cart-part:nth-child(even){
  background-color: #f6f6f6;
}
.twbs .cart-part:last-child{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.twbs .datepicker-sm{
  margin-right: 4px;
  padding: 0 .5rem 0 .2rem;
  max-width: 94px;
  text-align: right;
}